/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* ========== Header ========== */
header {
  position: relative;
  height: 100%;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  button {
    @margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 @margin @margin 0;
    cursor: pointer;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-weight: 300;
    font-size: 1.2em;
    color: white;
    outline: 0;
    -webkit-transform: translate3d(0, ~"calc(100% + @{margin})", 0);
    -webkit-transition: transform 0.6s;

    &.opened {
      -webkit-transform: translate3d(0, 0, 0);
    }

    i {
      margin-right: 10px;
    }
  }
}

#my-info {
  position: absolute;
  left: 0;
  top: 15%;

  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: right;

  padding: 15px 15px 15px 20%;

  -webkit-transform: translate3d(-98%, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;

  &.opened {
    -webkit-transform: translate3d(0, 0, 0);
  }

  h1 {
    font-family: Raleway, Arial, sans-serif;
    font-size: 2.5em;
    word-spacing: -0.15em;
    font-weight: 300;
    margin: 0;

    b {
      font-weight: 800;
    }
  }

  h2 {
    margin: 0;
    font-size: 1.3em;
    font-family: 'Glegoo', Arial, sans-serif;
    font-weight: 300;
  }
}

@media (max-width: 600px) {
  #my-info {
    width: 100%;
    padding: 15px;
  }
}

#date {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 20px 15px;
  font-family: 'Oxygen', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  text-transform: capitalize;
}

/* ========== Main ========== */
main {

}